body{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    height: 100vh;
}

.navcontainer{
    overflow: hidden;
}

.navcontainer a {
    float: right;
    text-decoration: none;
    color: black;
    padding: 10px; 
    margin-top: 40px;
}

.logo a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgba(114,117,87,255);
    color: coral;
}

a:active {
    color: rgb(156, 74, 15);
}

h1:first-child b {
    color: coral;
}

/* not sure if best way to do it. J & H are bold but the google font overrides it */

.logo{
    float: left;
}

.piccontainer{
    position: relative;
    text-align: center;
    color: white;
    font-size: 500%;
    font-weight: 900;
}

.logolarge{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70%;
}

.slogan{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50%;
    font-style: italic;
}

/* @media (min-width: 800px) {
    .about-container{
        flex-direction: column;
} */

.left-container{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100vh;
}

.right-container{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100vh;
}

.text{
    background-color: rgba(114,117,87,255);
    width: 60%; 
    text-align: center;
    color: white;
    font-size: 150%;
    padding: 15px;
}

.text::first-letter{
    color: coral;
    font-size: 170%;
    font-weight: 700;
}

.trexisland{
    background-image: url(home/trexisland.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

.ranger{
    background-image: url(home/ranger.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

/* @media (min-width: 800px) {
    .tour-container{
        flex-direction: column;
} */

.tour-container{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 70vh;
    margin-top: 1em;
}

.tour-container a{
    text-decoration: none;
    color: black;
}

.skull{
    background-image: url(home/skull.jpg);
    width: 33.33%;
    background-size: cover;
    background-position: center;
    margin-right: 0.5em;
    text-align: center;
}

.meat{
    background-image: url(home/meat.jpg);
    width: 33.33%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.resort{
    background-image: url(home/resort.jpg);
    width: 33.33%;
    background-size: cover;
    background-position: center;
    margin-right: 0.5em;
    text-align: center;
}

#side{
    color: white;
}

.subtitle::first-letter{
    color: coral;
}

.footer-container{
    margin-top: 3em;
    text-align: center;
}

/* a partir de aca empieza style para Aboutus */

.safaricar{
    background-image: url(aboutus/safaricar.jpg);
    width: 60%;
    background-size: cover;
    background-position: center;
}

.worldmap{
    background-image: url(aboutus/worldmap.jpg);
    width: 60%;
    background-size: cover;
    background-position: center;
}

.FAQ{
    text-align: center;
    font-size: 200%;
}

/* a partir de aca empieza Gallery */

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    max-width: 33.33333%;
    padding: 0.1%;
}

.column img{
    vertical-align: middle;
    padding: 0.3%;
    max-width: 100%;
}

@media (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 100%;
    }
}